@import "reset.less";

.clearFix{
  *zoom:1;
}
.clearFix:after{
  content: "";
  display: table;
  clear:both;
}
img{
  display:block;
}
a{
  text-decoration:none;
  display:block;
}
.commonTitle{
  color:#009ee0;
  font-size:80px;
  line-height:0.8;
  font-weight:bold;
  letter-spacing:-5px;
}
.commonText{
  font-size: 15px;
  line-height: 1.5;
  color:white;
}
//.faceDemo(){
//  position: absolute;
//  top:0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//}
#wrap{
  background: gray;
  #head{
    background: white !important;
    width: 100%;
    .headMain{
      margin: 0 auto;
      height: 80px;
      width:1100px;
      position: relative;
      .logo{
        float:left;
        margin-top: 30px;
      }
      .nav{
        margin-top: 50px;
        float:right;
        .list li{
          float:left;
          margin-left: 40px;
          position:relative;
        }
        .list span{
          display:block;
        }
        .list .up{
          color: black;
          position:absolute;
          width:0;
          overflow:hidden;
          transition: 1s width;
        }
        .list li:hover .up{
          width: 100%;
        }
      }
      .arrow{
        position:absolute;
        width: 21px;
        height: 11px;
        background: url("../img/menuIndicator.png") no-repeat;
        left: 50%;
        bottom: -11px;
        transition: 1s left;
        z-index:2;
      }
    }
  }
  #content{
    overflow:hidden;
    width: 100%;
    li{
      position: relative;
      background-position: 50% 50% !important;//居中布局平铺
      >section{
        height: 520px;
        width: 1100px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top:0;
        bottom: 0;
      }
    }
    .list{
      position:relative;
      width: 100%;
      left: 0;
      top:0;
      transition: 1s top;
      .home{
        background: url("../img/bg1.jpg") no-repeat;
        height: 100%;
        .homeContent{
          perspective: 1000px;
          transform-style: preserve-3d;
          height: 100%;
          //overflow: hidden;
          >li{
            visibility: hidden;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            box-shadow: 0 0 4px rgba(25,25,25,0.8);
            cursor:pointer;
            >.item{
              text-align: center;
              margin-top: 200px;
            }

          }
          li.active{
            visibility: visible;
          }
          li.leftShow{
            visibility: visible;
            animation:1s leftShow 1 linear;
          }
          li.rightHide{
            visibility: hidden;
            animation:1s rightHide 1 linear;
          }
          li.leftHide{
            visibility: hidden;
            animation:1s leftHide 1 linear;
          }
          li.rightShow{
            visibility: visible;
            animation:1s rightShow 1 linear;
          }
          li:nth-child(1){
            background:#dc6c5f;
          }
          li:nth-child(2){
            background:#95dc84;
          }
          li:nth-child(3){
            background:#64b9d2;
          }
          li:nth-child(4){
            background:#000000;
          }
        }
        .homeCircle{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          li{
            display: inline-block;
            width: 20px;
            height: 20px;
            color: white;
            background: rgba(255,255,255,.5);
            border-radius:50%;
            cursor:pointer;
          }
          li.active{
            background:white;
            cursor:default;
          }

        }
      }
      .course{
        background: url("../img/bg2.jpg") no-repeat;
        .two{
          .title{
            margin: 50px;
          }
          .text{
            width:400px;
            margin-left: 50px;
          }
          .bottomRight{
            width:480px;
            position:absolute;
            right: 50px;
            top:70px;
            .line{
              background: url("../img/plus_row.png") no-repeat;
              width: 9px;
              height: 410px;
              position: absolute;
              top:-7px;
            }
            >.line:nth-child(1){
              left: -5px;
            }
            >.line:nth-child(2){
              left: 115px;
            }
            >.line:nth-child(3){
              left: 235px;
            }
            >.line:nth-child(4){
              left: 355px;
            }
            >.line:nth-child(5){
              left: 475px;
            }
            .item{
              width: 120px;
              height: 132px;
              float: left;
              position: relative;
              perspective: 500px;
              transform-style: preserve-3d;
              .face , .backFace{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding:15px;
                transition: 1s transform;
              }
              .face{
                background: url("../img/apcoa.png") no-repeat;
                background-position: 50% 50%;
              }
              .backFace{
                transform: rotateY(180deg) ;
                backface-visibility:hidden;
                background: #009ee0;
                color: white;
              }
            }
            .item:hover .backFace{
              transform: rotateY(360deg);
            }
            .item:hover .face{
              transform: rotateY(180deg);
            }
          }
        }
      }
      .works{
        background: url("../img/bg3.jpg") no-repeat;
        //第三屏
        .three{
          width: 100%;
          height: 100%;
          .title{
            margin: 50px 0 100px 50px;
          }
          .bottomDown{
            margin-left: 50px;
            >.item:last-child{
              width: 332px;
            }
            >.item:hover{
              .mark{
                opacity:.8;
              }
              >img{
                transform:rotate(30deg) scale(1.5)
              }
            }
            >.item{
              float: left;
              margin:0 1px;
              width: 230px;
              height: 133px;
              position: relative;
              overflow: hidden;
              >img{
               transition: 1s transform;
              }
              .mark{
                position: absolute;
                left: 0;
                right: 0;
                top:0;
                bottom: 0;
                box-sizing: border-box;
                padding: 10px;
                opacity:0;
                background: black;
                color:white;
                transition:1s opacity;
                .icon{
                  width:32px;
                  height: 34px;
                  margin: 10px auto;
                  background: url(../img/zoomico.png) no-repeat;
                  transition: 1s background-position;
                }
                .icon:hover{
                  background-position:0 -36px;
                }
              }
            }
          }
          .robot{
            background: url("../img/robot.png") no-repeat;
            position:absolute;
            left: 900px;
            top:170px;
            width: 167px;
            height: 191px;
            animation: works3Move 4s linear infinite;
          }
        }
      }
      .about{
        background: url("../img/bg4.jpg") no-repeat;
        .aboutTitle{
          margin: 50px 0 100px 50px;
        }
        .aboutFooter{
          width: 400px;
          margin-left: 50px;
        }
        .aboutContent{
          .item{
            border: 5px solid rgba(255,255,255,0.5);
            border-radius:5px;
            width: 260px;
            height: 200px;
            position: absolute;
            overflow: hidden;
            ul{
              li{
                position: relative;
                float: left;
                overflow: hidden;
              }
              img{
                position: absolute;
                transition: 1s top,1s left;
              }
            }

            span,ul{
              position: absolute;
              top:0;
              right: 0;
              left: 0;
              bottom: 0;
              z-index: 2;
            }
          }
          .item:hover{
            span{
              transform: scale(1);
            }
          }
          .aboutItemTop{
            left:750px;
            top:50px;
            span{
              background: url("../img/about2.jpg") no-repeat;
              transform: scale(1.5);
              transition: 1s transform;
            }
          }
          .aboutItemBottom{
            left:600px;
            top:290px;
            span{
              background: url("../img/about4.jpg") no-repeat;
              transform: scale(1.5);
              transition: 1s transform;
            }
          }
        }
        .aboutBackground{
          width: 357px;
          height: 998px;
          background: url("../img/greenLine.png") no-repeat;
          position: absolute;
          top:-100px;
          left: 50%;
        }
      }
      .team{
        background: url("../img/bg5.jpg") no-repeat;
      }

    }
  }
}
@keyframes works3Move{
  0%{
    transform: translateX(0px) rotateY(0deg);
  }
  49%{
    transform: translateX(-490px) rotateY(0deg);
  }
  50%{
    transform: translateX(-500px) rotateY(180deg);
  }
  100%{
    transform: translateX(0px) rotateY(180deg);
  }
}
/*从左往右 leftHide  rightShow*/
@keyframes leftHide{
  0%{visibility: visible;}
  50%{transform: translateX(-40%) rotateY(30deg) scale(.8);}
  100%{transform: translateZ(-200px);}
}
@keyframes rightShow{
  0%{visibility: hidden;transform: translateZ(-200px);}
  50%{transform: translateX(40%) rotateY(-30deg) scale(.8);}
  100%{}
}
/*从右往左 leftShow  rightHide*/
@keyframes leftShow{
  0%{visibility: hidden;transform: translateZ(-200px);}
  50%{transform: translateX(-40%) rotateY(30deg) scale(.8);}
  100%{}
}
@keyframes rightHide{
  0%{visibility: visible;}
  50%{transform: translateX(40%) rotateY(-30deg) scale(.8);}
  100%{transform: translateZ(-200px);}
}
