html,
body {
  height: 100%;
  overflow: hidden;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearFix {
  *zoom: 1;
}
.clearFix:after {
  content: "";
  display: table;
  clear: both;
}
img {
  display: block;
}
a {
  text-decoration: none;
  display: block;
}
.commonTitle {
  color: #009ee0;
  font-size: 80px;
  line-height: 0.8;
  font-weight: bold;
  letter-spacing: -5px;
}
.commonText {
  font-size: 15px;
  line-height: 1.5;
  color: white;
}
#wrap {
  background: gray;
}
#wrap #head {
  background: white !important;
  width: 100%;
}
#wrap #head .headMain {
  margin: 0 auto;
  height: 80px;
  width: 1100px;
  position: relative;
}
#wrap #head .headMain .logo {
  float: left;
  margin-top: 30px;
}
#wrap #head .headMain .nav {
  margin-top: 50px;
  float: right;
}
#wrap #head .headMain .nav .list li {
  float: left;
  margin-left: 40px;
  position: relative;
}
#wrap #head .headMain .nav .list span {
  display: block;
}
#wrap #head .headMain .nav .list .up {
  color: black;
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: 1s width;
}
#wrap #head .headMain .nav .list li:hover .up {
  width: 100%;
}
#wrap #head .headMain .arrow {
  position: absolute;
  width: 21px;
  height: 11px;
  background: url("../img/menuIndicator.png") no-repeat;
  left: 50%;
  bottom: -11px;
  transition: 1s left;
  z-index: 2;
}
#wrap #content {
  overflow: hidden;
  width: 100%;
}
#wrap #content li {
  position: relative;
  background-position: 50% 50% !important;
}
#wrap #content li > section {
  height: 520px;
  width: 1100px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#wrap #content .list {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  transition: 1s top;
}
#wrap #content .list .home {
  background: url("../img/bg1.jpg") no-repeat;
  height: 100%;
}
#wrap #content .list .home .homeContent {
  perspective: 1000px;
  transform-style: preserve-3d;
  height: 100%;
}
#wrap #content .list .home .homeContent > li {
  visibility: hidden;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 0 4px rgba(25, 25, 25, 0.8);
  cursor: pointer;
}
#wrap #content .list .home .homeContent > li > .item {
  text-align: center;
  margin-top: 200px;
}
#wrap #content .list .home .homeContent li.active {
  visibility: visible;
}
#wrap #content .list .home .homeContent li.leftShow {
  visibility: visible;
  animation: 1s leftShow 1 linear;
}
#wrap #content .list .home .homeContent li.rightHide {
  visibility: hidden;
  animation: 1s rightHide 1 linear;
}
#wrap #content .list .home .homeContent li.leftHide {
  visibility: hidden;
  animation: 1s leftHide 1 linear;
}
#wrap #content .list .home .homeContent li.rightShow {
  visibility: visible;
  animation: 1s rightShow 1 linear;
}
#wrap #content .list .home .homeContent li:nth-child(1) {
  background: #dc6c5f;
}
#wrap #content .list .home .homeContent li:nth-child(2) {
  background: #95dc84;
}
#wrap #content .list .home .homeContent li:nth-child(3) {
  background: #64b9d2;
}
#wrap #content .list .home .homeContent li:nth-child(4) {
  background: #000000;
}
#wrap #content .list .home .homeCircle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
#wrap #content .list .home .homeCircle li {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
#wrap #content .list .home .homeCircle li.active {
  background: white;
  cursor: default;
}
#wrap #content .list .course {
  background: url("../img/bg2.jpg") no-repeat;
}
#wrap #content .list .course .two .title {
  margin: 50px;
}
#wrap #content .list .course .two .text {
  width: 400px;
  margin-left: 50px;
}
#wrap #content .list .course .two .bottomRight {
  width: 480px;
  position: absolute;
  right: 50px;
  top: 70px;
}
#wrap #content .list .course .two .bottomRight .line {
  background: url("../img/plus_row.png") no-repeat;
  width: 9px;
  height: 410px;
  position: absolute;
  top: -7px;
}
#wrap #content .list .course .two .bottomRight > .line:nth-child(1) {
  left: -5px;
}
#wrap #content .list .course .two .bottomRight > .line:nth-child(2) {
  left: 115px;
}
#wrap #content .list .course .two .bottomRight > .line:nth-child(3) {
  left: 235px;
}
#wrap #content .list .course .two .bottomRight > .line:nth-child(4) {
  left: 355px;
}
#wrap #content .list .course .two .bottomRight > .line:nth-child(5) {
  left: 475px;
}
#wrap #content .list .course .two .bottomRight .item {
  width: 120px;
  height: 132px;
  float: left;
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
}
#wrap #content .list .course .two .bottomRight .item .face,
#wrap #content .list .course .two .bottomRight .item .backFace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  transition: 1s transform;
}
#wrap #content .list .course .two .bottomRight .item .face {
  background: url("../img/apcoa.png") no-repeat;
  background-position: 50% 50%;
}
#wrap #content .list .course .two .bottomRight .item .backFace {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background: #009ee0;
  color: white;
}
#wrap #content .list .course .two .bottomRight .item:hover .backFace {
  transform: rotateY(360deg);
}
#wrap #content .list .course .two .bottomRight .item:hover .face {
  transform: rotateY(180deg);
}
#wrap #content .list .works {
  background: url("../img/bg3.jpg") no-repeat;
}
#wrap #content .list .works .three {
  width: 100%;
  height: 100%;
}
#wrap #content .list .works .three .title {
  margin: 50px 0 100px 50px;
}
#wrap #content .list .works .three .bottomDown {
  margin-left: 50px;
}
#wrap #content .list .works .three .bottomDown > .item:last-child {
  width: 332px;
}
#wrap #content .list .works .three .bottomDown > .item:hover .mark {
  opacity: .8;
}
#wrap #content .list .works .three .bottomDown > .item:hover > img {
  transform: rotate(30deg) scale(1.5);
}
#wrap #content .list .works .three .bottomDown > .item {
  float: left;
  margin: 0 1px;
  width: 230px;
  height: 133px;
  position: relative;
  overflow: hidden;
}
#wrap #content .list .works .three .bottomDown > .item > img {
  transition: 1s transform;
}
#wrap #content .list .works .three .bottomDown > .item .mark {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 10px;
  opacity: 0;
  background: black;
  color: white;
  transition: 1s opacity;
}
#wrap #content .list .works .three .bottomDown > .item .mark .icon {
  width: 32px;
  height: 34px;
  margin: 10px auto;
  background: url(../img/zoomico.png) no-repeat;
  transition: 1s background-position;
}
#wrap #content .list .works .three .bottomDown > .item .mark .icon:hover {
  background-position: 0 -36px;
}
#wrap #content .list .works .three .robot {
  background: url("../img/robot.png") no-repeat;
  position: absolute;
  left: 900px;
  top: 170px;
  width: 167px;
  height: 191px;
  animation: works3Move 4s linear infinite;
}
#wrap #content .list .about {
  background: url("../img/bg4.jpg") no-repeat;
}
#wrap #content .list .team {
  background: url("../img/bg5.jpg") no-repeat;
}
@keyframes works3Move {
  0% {
    transform: translateX(0px) rotateY(0deg);
  }
  49% {
    transform: translateX(-490px) rotateY(0deg);
  }
  50% {
    transform: translateX(-500px) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(180deg);
  }
}
/*从左往右 leftHide  rightShow*/
@keyframes leftHide {
  0% {
    visibility: visible;
  }
  50% {
    transform: translateX(-40%) rotateY(30deg) scale(0.8);
  }
  100% {
    transform: translateZ(-200px);
  }
}
@keyframes rightShow {
  0% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(40%) rotateY(-30deg) scale(0.8);
  }
}
/*从右往左 leftShow  rightHide*/
@keyframes leftShow {
  0% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(-40%) rotateY(30deg) scale(0.8);
  }
}
@keyframes rightHide {
  0% {
    visibility: visible;
  }
  50% {
    transform: translateX(40%) rotateY(-30deg) scale(0.8);
  }
  100% {
    transform: translateZ(-200px);
  }
}
